#title{
    font-family: Renogare;
    color: #00ff00;
    float: left;
    font-size: 55px;
}
#icon{
    float: left;
    padding: 10px;
}
#top{
    width: 500px;
    height: 135px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#subtitle{
    text-align: center;
    font-weight: lighter;
}

#socials{
    text-align: center;
}

h2{
    color: #00aa00;
    text-align: center;
    font-size: 25px;
}

body{
    background-color: #000000;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
}

#work{
    background-color: #555555;
    color: #000000;
}

#footer{
    text-align: center;
    font-size: 15px;
}

